stestr>=3.0.0
astroid==3.2.2
pylint==3.2.3
black~=24.1
qiskit-sphinx-theme~=2.0
sphinx-autodoc-typehints~=2.2.3
jupyter-sphinx
# The following line is needed until
# https://github.com/jupyter/jupyter-sphinx/pull/226 is resolved.
ipykernel>=4.5.1
pygments>=2.4
reno>=4.1.0
nbsphinx~=0.9.5
sphinx>=6.2.1,<8.2
sphinxcontrib-bibtex
qutip
ddt~=1.4.2
matplotlib>=3.3.0
qiskit-experiments<0.9
qiskit_ibm_runtime<=0.36.1
pandas # for docs only
pylatexenc>=1.4 # for docs only
ipython<8.13.0 # for docs build with python 3.8