stestr>=3.0.0
astroid==2.9.3
pylint==2.12.2
black~=22.0
qiskit-sphinx-theme~=1.13.0
sphinx-autodoc-typehints
jupyter-sphinx
pygments>=2.4
reno>=3.4.0
nbsphinx
sphinxcontrib-bibtex
qutip
ddt~=1.4.2
matplotlib>=3.3.0
qiskit-experiments
pandas # for docs only
pylatexenc>=1.4 # for docs only
ipython<8.13.0 # for docs build with python 3.8