stestr>=3.0.0
astroid==2.14.2
pylint==2.16.2
black~=24.1
qiskit-sphinx-theme~=1.16.0
sphinx-autodoc-typehints
jupyter-sphinx
# The following line is needed until
# https://github.com/jupyter/jupyter-sphinx/pull/226 is resolved.
ipykernel>=4.5.1
pygments>=2.4
reno>=3.4.0
nbsphinx
sphinxcontrib-bibtex
qutip
ddt~=1.4.2
matplotlib>=3.3.0
qiskit-experiments
qiskit_ibm_runtime
pandas # for docs only
pylatexenc>=1.4 # for docs only
ipython<8.13.0 # for docs build with python 3.8